<div id="acchistory">
    <div class="container">
        <h1 class="title">Txs involving <a href='#/u/{{name}}'>{{name}}</a></h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Sender</th>
                    <th>Type</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {{each blocks}}
                    {{each $value.txs tx}}
                    <tr>
                        <td><abbr title="Block #{{$value._id}} on {{tx.ts | timeZulu}}">{{tx.ts | timeFromNow}}</abbr></td>
                        <td>{{tx.sender}}</td>
                        <td>{{tx.type | formatTxType}}</td>
                        <td><code>{{tx.data}}</code></td>
                    </tr>
                    {{/each}}
                {{/each}}
            </tbody>
        </table>
        
    </div>
</div>