<div id="createacc">
    <div class="container">
        <hr>
        <div class="notification is-link" id="new-account-success" style="display:none">
            Account Created!<br />
            Username: <strong><span id="resUsername"></span></strong><br />
            Public Key: <strong><span id="resPubKey"></span></strong>
        </div>
        <h1 class="title">Create a new account (for a friend?)</h1>
        <div class="field">
            <label class="label">Public Key</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>

        <div class="field">
            <label class="label">Username (costs 60 tokens)</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button submit is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button cancel is-text">Cancel</button>
            </div>
        </div>
    </div>
</div>