<div id="submit">
    <div class="container">
        <hr>
        <h1 class="title">Submit a new content</h1>
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>

        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                <textarea class="textarea"></textarea>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button submit is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button cancel is-text">Cancel</button>
            </div>
        </div>
        <div>
            <h3>Preview</h3>
            <div id="markdownPreview" class="content box"></div>
        </div>
    </div>
</div>